body {
  background-image: linear-gradient(to bottom right, #384f71, #223c62, #172a44);
  padding: 0;
  margin: 0;
  font-family: inherit;
}
header {
  background-color: #02365a;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 70px;
  /*border-bottom: #c6db09 3px solid; */
}
#div1 .weather {
  width: 60px;
  height: 60px;
  margin-top: -100%;
  vertical-align: -100%;
}
#div1 h3 {
  color: aliceblue;
  vertical-align: 10%;
}
.sgin {
  width: 3%;
  height: 3%;
  margin-top: -80px;
  margin-right: 20px;
  float: right;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #b09dbf;
}
.searchTerm:focus {
  color: #00b4cc;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  margin-top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.links {
  background-color: brown;
  margin-top: -10px;
  padding-top: 10px;
  height: 40px;
}
.links a {
  color: #fff;
  font-size: 19px;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.links a:hover {
  color: black;
}
.topnav {
  background-image: linear-gradient(to right, #02365a, #253e64, #20385b);
  overflow: hidden;
  margin-top: -6px;
  width: 100%;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #395485f1;
  color: rgb(255, 255, 255);
}
.topnav a.active {
  background-color: #001f36;
  color: white;
}
.ttt {
  background-image: url(../image/ezgif.com-gif-maker.gif);
  width: 600px;
  height: 300px;
  margin-left: 50px;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid #223c62;
  background-size: cover;
  background-size: 100% 100%;
}
#ff {
  margin-left: 60px;
  margin-bottom: 10px;
  color: #ddd;
  font-size: 20px;
}
.ttt h3,
.ttt p {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #ddd;
}
.ttt img {
  width: 65px;
  height: 65px;
  margin-left: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.ttt h1 {
  white-space: nowrap;
  color: #ddd;
  margin-top: -80px;
  margin-left: 100px;
  font-size: 65px;
}
.ttt h4 {
  margin-left: 20px;
  margin-top: -35px;
  color: #ddd;
}
.ttt table {
  margin-top: 50px;
  line-height: 80%;
  color: #ddd;
}
#table1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 65%;
  color: #ddd;
  margin-left: 20px;
}
#table1 td,
#table1 th {
  padding: 8px;
}
#th {
  margin-left: 500px;
  margin-top: -50px;
  color: #ddd;
  font-size: 22px;
}
#tl {
  margin-left: 500px;
  margin-top: -5px;
  color: #ddd;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 400px;
  float: left;
  margin-left: 670px;
  border-radius: 10px;
  margin-top: -303px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 400px;
  border-radius: 10px;
}
.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}
.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}
.lead,
#lead,
#lead2,
#lead3,
#lead4,
#lead5,
#lead6,
#lead7 {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.container {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 20px;
}
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
.container {
  min-width: 992px !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item>div {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  background: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5%;
  text-align: center;
  list-style-type: none;
  background: #213352;
}
.MultiCarousel .MultiCarousel-inner .item:hover>div {
  background: #364e70;
}
.pad15 img {
  width: 30px;
  height: 30px;
  white-space: nowrap;
  float: left;
}
.convertor {
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 1100px;
  margin-top: -302px;
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5%;
  width: 200px;
  height: 130px;
}
.convertor h4,
.convertor p,
button {
  margin-left: 7px;
  margin-top: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 7px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  word-spacing: 15px;
  color: black;
}
.slider p {
  margin-top: 4px;
  font-size: 20px;
  color: black;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked+.slider {
  background-color: #005C97;
}
input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.reload img {
  width: 40px;
  height: 40px;
}
.reload {
  width: 40px;
  height: 40px;
  margin-left: 1100px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #213352;
  border: 1px solid #D6DBE2;
}
.reload:hover {
  background-color: #364E70;
}
}